<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Delegated access prototype v4
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        MVP v4 Prototype
      </h1>
     
      <p>Date started: 7/11/2019<br>
     Date ended: 6/12/2019 
      <a href="../images/DelegatedAccessMVP-MVPv4.pdf" target="_blank">User journey map</a></p>

    <hr>

      <h2>Primary user adds a delegate</h2>

      <p>
        Alice has an NHS login account and wants to add a delegate for a service<br>
        Journey starts with Alice adding a delegate.
      </p>
      {{ button({
        "text": "Add delegate flow",
        "href": "primary-user-details"
      }) }}

      <h3>Emails</h3>
      <a href="email/user-security">Security</a></br></br>
      <a href="email/user-success">Success</a>
      <hr>

      <h2>Delegate user accepts invitation</h2>
      <p>
        Bob has been invited to act on behalf of Alice as a delegate within a service<br>
        Bob has not yet agreed to consent<br>
        Bob may or may not have an NHS login account already<br>
        Journey starts with Bob receiving an email inviting him to be a delegate
      </p>
      {{ button({
        "text": "Accept invite flow",
        "href": "primary-user-details-and-relationship"
      }) }}
      
      <h3>Emails</h3>
      <a href="email/delegate-invite">Invite</a></br></br>
      <a href="email/delegate-success">Success</a>
      <br /><br />
      <h3>Consent</h3>
      <a href="service/consent">Consent</a><br /><br />
      <hr>


      <h2>Error scenarios</h2>

              <h3>Delegate</h3>
            <a href="service/invite-expired">Invitation has already been accepted or has expired</a><br><br>
            <a href="service/error-alreadyaccepted">Relationship between two users has already been set up for this service</a><br><br>
            <a href="service/error-selfdelegating">Primary user is self delegating</a><br><br>
            <a href="service/error-matching-user">Delegate's NHS login details are different to those the Primary User gave us</a><br><br>
        
        <h3>Primary/h3>
            <a href="service/no-services-available">No services available to add a delegate to</a><br><br>
    </div>  

  </div>
{% endblock %}
