<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Delegated access prototype v5
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <!--<div class="nhsuk-grid-column-two-thirds">-->

      <!-- Change the page title here -->
      <h1>
        MVP v5 Prototype
      </h1>
     
     <p>Date started: 6/12/2019<br>
     Date ended: - </p>

      <h2>Primary user</h2>

      <p>
        Alice has an NHS login account and wants to add a delegate for a service.<br>
        The journey starts with Alice logging into the service, then she will need to go to her NHS login settings in order to add a delegate.
      </p>
      {{ button({
        "text": "Add delegate flow",
        "href": "primary-user-details"
      }) }}

<br>

      <a href="http://manage-nhs-login.herokuapp.com/account/v3d/index?primaryUserFirstName=Alice&primaryUserLastName=Smith&version=v5">Add a delegate (skipping the login journey)</a><br><br>
      <a href="service/select-single-service">Add a delegate (skipping the login and NHS login settings journeys)</a></br></br>


      <h3>Emails</h3>
      <a href="email/user-security">Security</a></br></br>
      <a href="email/user-success">Success</a><br><br>

      <h3>NHS login settings</h3>
      <a href="http://manage-nhs-login.herokuapp.com/account/v3d/index?version=v5">No delegates added</a><br><br>
      <a href="http://manage-nhs-login.herokuapp.com/account/v3d/index-delegates-added?version=v5">Delegates added (basic)</a><br><br>
      <a href="">Primary users and delegates added (all singing, all dancing)</a><br><br>


      <hr>

      <h2>Delegate</h2>
      <p>
        Bob has been invited to act on behalf of Alice as a delegate within a service.<br>
        We do not know if Bob has an NHS login already.<br>
        The journey starts with Bob receiving an email inviting him to be a delegate.
      </p>
      {{ button({
        "text": "Accept invite flow",
        "href": "primary-user-details-and-relationship"
      }) }}
      
      <h3>Emails</h3>
      <a href="email/delegate-invite">Invite</a></br></br>
      <a href="email/delegate-success">Success</a><br><br>

      <h3>Consent</h3>
      <a href="service/consent">Consent</a><br/><br/>

      <h3>NHS login setttings</h3>
      <a href="">Primary users and delegates added (all singing, all dancing)</a><br><br>

    </div>  

  </div>
{% endblock %}
