<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Select {{ data.firstName or 'Bob' }}'s relationship to you
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data.summaryReturn === 'yes' %}
        <form action="delegate-summary" method="get">
      {% else %}
        <form action="delegate-nhs-no-1" method="get">
      {% endif %}

            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="delegate-relationship">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back</a>
</div>
<br>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

            <h1 class="nhsuk-fieldset__heading">
              Select {{ data.firstName or 'Bob' }}'s relationship to you
            </h1>
          </legend>
          
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Carer" name="relationship" type="radio" value="Carer">
                <label class="nhsuk-label nhsuk-radios__label" for="Carer">
                  Carer
                </label>
            </div>
           
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Friend" name="relationship" type="radio" value="Friend">
                <label class="nhsuk-label nhsuk-radios__label" for="Friend">
                  Friend
                </label>
            </div>

          </div>       
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
