<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
    NHS login - Email has been sent
    {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

     <div class="nhsuk-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Lydia Teebay
      </span>
    </summary>
    <div class="nhsuk-details__text">

   <table>
      <tbody>

        <tr>
          <th>Status</th>
          <td>active</td>
          <td><i>expires in 202 days</i></td>
        </tr>

        <tr>
          <th>Relationship</th>
          <td>mother</td>
          <td><a href="#">update relationship</a></td>
        </tr>

        <tr>
          <th>Services</th>
          <td>stepWell<br>NHS App<br>Patient Access</td>
          <td><a href="#">remove</a><br><a href="#">remove</a><br><a href="#">remove</a></td>
        </tr>

      </tbody>
    </table>

    <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span>Add Lydia to another service</span>
  </a>

    </div>

        <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span>Remove Lydia</span>
  </a>

    </div>
  </details>

    <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Robert Smith
      </span>
    </summary>
    <div class="nhsuk-details__text">

   <table>
      <tbody>

        <tr>
          <th>Status</th>
          <td>active</td>
          <td><i>expires in 12 days<br><a href="#">renew</a></i></td>
        </tr>

        <tr>
          <th>Relationship</th>
          <td>brother</td>
          <td><a href="#">update relationship</a></td>
        </tr>

        <tr>
          <th>Services</th>
          <td>stepWell<br>NHS App<br>Patient Access</td>
          <td><a href="#">remove</a><br><a href="#">remove</a><br><a href="#">remove</a></td>
        </tr>

      </tbody>
    </table>

    <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span>Add Robert to another service</span>
  </a>

    </div>

            <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span>Remove Lydia</span>
  </a>

    </div>
    
  </details>


</div>
</div> 

  </div>
{% endblock %}
