{% extends 'layout.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-fieldset__legend--l">
          The invition has expired
      </h1>

      <p>This may be because:</p>
        <ul>
            <li>it's cancelled</li>
            <li>it's expired <mark>I think we would know if this has happened - show different message</mark></li>
            <li>it's supersceded by another</li>
            <li>it's already been used</li>
            <li><mark>any other reasons</mark></li>
        </ul>

        <mark>what is the action - how does the person recover</mark>
      <!--<a href="">Return to manage NHS login</a>-->
      <br></br>
    </div>

  </div>
{% endblock %}
