<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Service consent
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName }} has sent you an invite</h1>  

      <p>{{ data.primaryUserFirstName or 'Alice' }} is inviting you to enter their <b>{{ data.service or 'myHealth' }}</b> account and act on their behalf. 
      To accept this invite, you must agree to share some of your NHS login information with <b>{{ data.service or 'myHealth' }}</b>.</p>
      <p><b>{{ data.service or 'myHealth' }}</b> will see your:
      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>NHS number</li>
        <li>relationship to {{ data.primaryUserFirstName or 'Alice' }}</li>
      </ul>

      <p><b>{{ data.service or 'myHealth' }}</b> will not see your personal health information.

      <p>You will be added to Alice's NHS login as her <b>{{ data.relationship or 'carer'}} and will be able to act on her behalf. 
      This means Alice will be able to see your name in the account management area of their NHS login.</p>

      <p>You will not create your own <b>{{data.service or 'myHealth'}}</b> account by accepting this invite and Alice will not be able to see your personal health information.</b>
      
      <p>Before you agree, you should read <b>{{ data.service or 'myHealth' }}</b>'s terms of use and privacy policy to check how they will use your information.</p>

      {{ button({
        "text": "Agree and continue",
        "href": "consent-success"
      }) }}

    <p><a href="#">I do not agree to sharing my information</a>

    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
