<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Success
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        You can now act on behalf of {{ data.primaryUserFirstName or 'Alice' }} in {{ data.service or 'stepWell' }}
      </h1>


<p>{{ data.service or 'stepWell' }} features you can access on behalf of {{ data.primaryUserFirstName or 'Alice' }} include:
  <!-- dynamic content from the service -->
    <ul>
    <li>appointment bookings</li>
    <li>ordering repeat prescriptions</li>
    </ul>
    </p>


<p>{{ data.service or 'stepWell' }} features you can access on behalf of {{ data.primaryUserFirstName or 'Alice' }} include:
 <!-- dynamic content from the service -->
    <ul class="nhsuk-list nhsuk-list--bullet">
    <li>medical records</li>
    </ul>
    </p>

 <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          Why are some of these features not available?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>To access these features, you will need to contact {{ data.primaryUserFirstName or 'Alice' }} directly. 
          A clinician may need to review the request, which can take up to 7 days.</p>
        </div>
      </details>



      <p>You can cancel this at any time by visiting your <a href="">NHS login account management area</a>.</p>

      <a href="../login/login-as-combined" role="button" draggable="false" class="nhsuk-button">
        Continue to {{ data.service or 'stepWell' }}
      </a>
    </div>  

  </div>
{% endblock %}
