<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Service consent
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName }} is inviting you to enter their <b>{{ data.service or 'myHealth' }}</b> account and act on their behalf.</h1>

      <!-- Styling needs adding to main sass file and it could be improved -->
      <!--<div style="width: 100%; display: inline-block">
        <div style="float: left;">
          <svg class="nhsuk-icon nhsuk-icon__user nhsuk-icon--size-50" xmlns="http://www.w3.org/2000/svg" viewBox="6 0 20 24" width="32" aria-hidden="true">
            <path d="M16,2a10,10,0,0,0-1.09,19.93H15A6,6,0,0,0,16,22a6,6,0,0,0,1-.06h.05A10,10,0,0,0,16,2Zm5.4,15.88a6.45,6.45,0,0,0,.14-.88,5.3,5.3,0,0,0-2.4-4.14,4.89,4.89,0,0,1-6.28,0A5.3,5.3,0,0,0,10.46,17a6.45,6.45,0,0,0,.14.88,8,8,0,1,1,10.8,0Z"/>
            <circle cx="16" cy="9" r="3"/>
          </svg>
        </div>
        <div style="padding: 0 0 16px 16px; float: left">
          <p>
            <span class="nhsuk-body-s" style="margin-bottom: 0">Your NHS login is:</span>
          {{ currentUserEmail or 'bob35@gmail.com' }}
          </p>
        </div>
      </div>-->      

      <p>To accept this invite, you will need to agree to share some of your NHS login information with <b>{{ data.service or 'myHealth' }}</b>.</p>
      <p><b>{{ data.service or 'myHealth' }}</b> will use your:
      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>NHS number</li>
        <li>relationship to {{ data.primaryUserFirstName or 'Alice' }}</li>
      </ul>

      <p><b>{{ data.service or 'myHealth' }}</b> will <b>not</b> use your:
      <ul>
        <li>personal health information</li>
      </ul>

      <p>After accepting this invite, you will be added to </b>{{ data.primaryUserFirstName or 'Alice' }}'s</b> NHS login as her <b>{{ data.relationship or 'carer' }}</b> and will be able to act on her behalf. 
      This means {{ data.primaryUserFirstName or 'Alice' }} will be able to see your name in the account management area of their NHS login.
      {{ data.primaryUserFirstName or 'Alice' }} will not be able to see your personal health information.</p>


      <p>Before you agree, you should read <b>{{ data.service or 'myHealth' }}</b>'s terms of use and privacy policy to check how they will use your information.</p>
      <p>This does not mean that you will have a </b>{{ data.service or 'myHealth' }}</b> account for yourself.<p>

      <!--
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You will be able to access myHealth on behalf of {{ data.primaryUserFirstName or 'Alice' }} once you have passed our checks.</p>
      </div>
      -->

      <!--<mark>make this conditional based on where the user has come from</mark>-->
      {% if data.id ===  'pending' %}
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Awaiting checks</h3>
        <p>You will be able to access myHealth on behalf of {{ data.primaryUserFirstName or 'Alice' }} once you have passed our checks.</p>
      </div>

      {{ button({
        "text": "Agree and continue",
        "href": "service-consent-pending"
      }) }}
      {% else %}

      <!--<mark>This needs to go to the pending screen when the above callout is on page</mark>-->
      {{ button({
        "text": "Agree and continue",
        "href": "service-consent-success"
      }) }}
      {% endif %}
    <p><a href="#">I do not agree to sharing my information</a>

    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
