{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
    You have been added to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}’s NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      Success
      </h1>

      <p>You have been added to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}’s NHS login as their <b>{{ data.relationship or 'carer' }}</b>. 
      You can now enter <b>{{ data.service or 'stepWell' }}</b> on their behalf at any time.</p>
      
      <p>To do this, visit <a href="../service/myhealth-logged-out">www.stepwell.com</a> and log in with your NHS login.</p>

      <p><a href="">Contact us</a> to cancel this at any time.</p>      

      
    </div>
  </div>

{% endblock %}