// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

// taken from manage nhs login

.nhsuk-button-red {
	background-color: $color_nhsuk-red;
	box-shadow: 0 4px 0 #5d0903;
}

.nhsuk-button-red:hover, .nhsuk-button-red:focus {
	background-color: #a5190e;
}

.nhsuk-hint-list li, .nhsuk-hint-list li span.nhsuk-hint {
	margin-bottom: 8px;
}

.nhsuk-header__navigation-item--for-mobile {
  display: none;
}

.body-email {
	background-color: #d8dde0;
}

.email-width {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.email-width .nhsuk-width-container {
	max-width: 550px;
}

.body-email .nhsuk-footer .nhsuk-width-container{
	display: none;
}

// taken from manage nhs login

// delegate access

.proxy {
  background-color: orange;
  text-align: center;
  //margin-bottom: 0;
}

.nhsuk-icon__user {
	fill: $color_nhsuk-blue;
}

// index styling

.nhsuk-expander.version-list {
	background-color: #F0F4F5 !important;
  }
  
  .nhsuk-details__summary {
	background-color: #F0F4F5 !important;
	padding: 0px !important;
  }
  
  #details-content-0 {
	@include mq($from: mobile) {
	  padding: nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) nhsuk-spacing(0) !important;
	}
  }



  .autocomplete__input {
	  &:focus {
		box-shadow: 0 0 0 4px #ffb81C;
		outline: 4px solid transparent;
		outline-offset: 4px;
		border: 2px solid black;
	  }

  }