<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="login-as-v3" method="post">
     
          <h1>
              What do you want to do? 
          </h1>
     
      <div class="nhsuk-form-group">
      
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Enter {{data.service or 'stepWell'}} as:
          </legend>
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="loggedInUser" name="loggedInUser" type="radio" value="{{ data.primaryUserFirstName or 'Alice' }}">
                  <label class="nhsuk-label nhsuk-radios__label" for="loggedInUser">
                    {{data.primaryUserFirstName or 'Alice'}} {{data.primaryUserLastName or 'Smith'}}
                  </label>
          </div> 
 
<!--
                      <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="loggedInUser" name="loggedInUser" type="radio" value="David">
                  <label class="nhsuk-label nhsuk-radios__label" for="loggedInUser">
                    David Roberts
                  </label>
          </div>        

          -->

                <div class="nhsuk-radios__divider">or</div>

                          <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="loggedInUser" name="loggedInUser" type="radio" value="CreateAccount">
                <label class="nhsuk-label nhsuk-radios__label" for="loggedInUser">
                  Create an account or continue to {{data.service or 'stepWell'}} as yourself

                </label>
            </div>

        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>

    </div>  

  </div>
{% endblock %}
