/* ==========================================================================
   COMPONENTS / #HEADER / #AUTOCOMPLETE
   ========================================================================== */
/**
   * 1. IE 10 prefix for flexbox
   * 2. Proprietary extension so form field looks the same in Safari
   * 3. Custom height and width of form items
   * 4. Custom height and width of svg icons
   * 5. Custom spacing to position the search icon
   * 6. Drop shadow on search suggestions dopdown box, custom spread and blur
   * 7. Z-index to bring the dropdown to the front
   * 8. No current spacing at 12px so using this value
*/
.autocomplete-container {
  display: inline-block;
}

@media (max-width: 40.0525em) {
  .autocomplete-container {
    display: inline;
    width: 100%;
  }
}

@media (max-width: 40.0525em) {
  /* duplicate of .nhsuk-search__input in _header.scss, for non javascript version */
  .autocomplete__input {
    -ms-flex-positive: 2;
    /* [1] */
    -webkit-appearance: listbox;
    border-bottom: 1px solid #aeb7bd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-left: 1px solid #aeb7bd;
    border-right: 0;
    border-top: 1px solid #aeb7bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px;
    /* [3] */
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 100%;
    /* [3] */
  }
  .autocomplete__input:focus {
    box-shadow: inset 0 0 0 4px #ffb81C;
  }
}

@media (min-width: 40.0625em) {
  /* duplicate of .nhsuk-search__input in _header.scss, for non javascript version */
  .autocomplete__input {
    -webkit-appearance: listbox;
    border: 1px solid #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    font-size: 16px;
    height: 40px;
    /* [3] */
    padding: 0 12px;
    /* [8] */
    width: 235px;
    /* [3] */
  }
  .autocomplete__input:focus {
    border: 1px solid #ffb81C;
    box-shadow: inset 0 0 0 3px #ffb81C;
    outline: none;
  }
  .autocomplete__input::placeholder {
    color: #768692;
    font-size: 16px;
  }
}

.autocomplete__menu {
  -moz-box-shadow: 0 3px 5px rgba(66, 84, 98, 0.5);
  /* [6] */
  -webkit-box-shadow: 0 3px 5px rgba(66, 84, 98, 0.5);
  /* [6] */
  background-color: #ffffff;
  border-bottom: 1px solid #d8dde0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #d8dde0;
  border-right: 1px solid #d8dde0;
  box-shadow: 0 0 3px 0 rgba(66, 84, 98, 0.5);
  /* [6] */
  list-style: none;
  margin-top: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  /* [7] */
}

@media (max-width: 40.0525em) {
  .autocomplete__menu {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__option {
  border-bottom: 1px solid #f0f4f5;
  color: #005eb8;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 12px;
  /* [8] */
  text-align: left;
  text-decoration: underline;
}

.autocomplete__option .nhsuk-icon__search {
  fill: #aeb7bd;
  float: left;
  height: 22px;
  /* [4] */
  margin: 5px 4px 0 0;
  /* [5] */
  width: 22px;
  /* [4] */
}

.autocomplete__option:hover, .autocomplete__option:active {
  text-decoration: none;
}

.autocomplete__option:hover a, .autocomplete__option:focus a {
  background-color: #ffb81C;
  box-shadow: 0 0 0 4px #ffb81C;
  color: #212b32;
  text-decoration: none;
}

.autocomplete__option:focus {
  outline: 1px solid transparent;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .autocomplete__option:last-child {
    border-bottom: 0;
  }
}

.autocomplete__option--no-results {
  border-bottom: 0;
  color: #212b32;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

@media (max-width: 40.0525em) {
  .autocomplete__option--no-results {
    padding: 16px 0;
  }
}

.nhsuk-header {
  background-color: #005eb8;
}

.nhsuk-header:after {
  clear: both;
  content: '';
  display: block;
}

.nhsuk-header__logo {
  float: left;
  padding: 20px 0;
}

@media (min-width: 40.0625em) {
  .nhsuk-header__logo {
    padding-left: 0;
  }
}

.nhsuk-header__logo .nhsuk-logo {
  height: 40px;
  width: 100px;
  /* [1] */
  border: 0;
}

.nhsuk-header__link {
  height: 40px;
  width: 100px;
  /* [1] */
  display: block;
}

.nhsuk-header__content:after {
  clear: both;
  content: '';
  display: block;
}

@media print {
  .nhsuk-header__content {
    display: none;
  }
}

.nhsuk-header__content.js-show {
  border-bottom: 4px solid #f0f4f5;
  /* [12] */
}

@media (min-width: 40.0625em) {
  .nhsuk-header__content {
    float: right;
    position: relative;
  }
  .nhsuk-header__content.js-show {
    border-bottom: 0;
  }
}

.nhsuk-header__search {
  position: relative;
  text-align: right;
}

.nhsuk-header__search:after {
  clear: both;
  content: '';
  display: block;
}

@media (min-width: 40.0625em) {
  .nhsuk-header__search {
    float: left;
    margin-top: 20px;
  }
}

.nhsuk-header__search-toggle {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  min-height: 40px;
  /* [2] */
  padding: 4px 8px 0;
  position: absolute;
  right: 16px;
  top: 20px;
}

.nhsuk-header__search-toggle::-moz-focus-inner {
  border: 0;
}

.nhsuk-header__search-toggle:hover {
  background-color: #003d78;
  border-color: #f0f4f5;
  box-shadow: none;
}

.nhsuk-header__search-toggle:focus {
  background-color: transparent;
  border-color: #ffb81C;
  box-shadow: 0 0 0 3px #ffb81C;
  outline: 0;
}

.nhsuk-header__search-toggle:active, .nhsuk-header__search-toggle.is-active {
  background-color: #002f5c;
  border-color: #f0f4f5;
  box-shadow: none;
  color: #f0f4f5;
}

.nhsuk-header__search-toggle.is-active:focus {
  box-shadow: 0 0 0 3px #ffb81C;
}

.nhsuk-header__search-toggle .nhsuk-icon__search {
  fill: #ffffff;
  height: 21px;
  /* [3] */
  width: 21px;
  /* [3] */
}

.nhsuk-header__search-form {
  height: 100%;
  overflow: visible;
}

@media (max-width: 40.0525em) {
  .nhsuk-header__container {
    margin: 0;
  }
  .nhsuk-header__logo {
    padding-left: 16px;
    position: relative;
    z-index: 1;
  }
  .nhsuk-header__search-wrap {
    display: none;
  }
  .nhsuk-header__search-wrap.js-show {
    clear: both;
    display: -ms-flexbox;
    /* [14] */
    display: flex;
    text-align: left;
  }
  .nhsuk-header__search-form {
    background-color: #ffffff;
    display: -ms-flexbox;
    /* [14] */
    display: flex;
    padding: 16px;
    width: 100%;
  }
  .nhsuk-search__input {
    -ms-flex-positive: 2;
    /* [14] */
    -webkit-appearance: listbox;
    background-color: #ffffff !important;
    border-bottom: 1px solid #aeb7bd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-left: 1px solid #aeb7bd;
    border-right: 0;
    border-top: 1px solid #aeb7bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px;
    /* [2] */
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 100%;
    /* [2] */
  }
  .nhsuk-search__input:focus {
    box-shadow: inset 0 0 0 4px #ffb81C;
  }
  .nhsuk-search__submit {
    background-color: #007f3b;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    height: 52px;
    /* [2] */
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 8px 8px 0;
  }
  .nhsuk-search__submit .nhsuk-icon__search {
    fill: #ffffff;
    height: 38px;
    /* [3] */
    width: 38px;
    /* [3] */
  }
  .nhsuk-search__submit::-moz-focus-inner {
    border: 0;
    /* [4] */
  }
  .nhsuk-search__submit:hover {
    background-color: #005326;
    cursor: pointer;
  }
  .nhsuk-search__submit:focus {
    box-shadow: inset 0 0 0 4px #ffb81C;
  }
  .nhsuk-search__submit:active {
    background-color: #00401e;
  }
  .nhsuk-search__close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 40px;
    padding: 0;
    width: 40px;
    margin-left: 16px;
    margin-top: 8px;
  }
  .nhsuk-search__close .nhsuk-icon__close {
    fill: #005eb8;
    height: 40px;
    width: 40px;
  }
  .nhsuk-search__close::-moz-focus-inner {
    border: 0;
  }
  .nhsuk-search__close:hover .nhsuk-icon__close {
    fill: #003d78;
  }
  .nhsuk-search__close:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 4px #ffb81C;
    outline: 0;
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-header__search-wrap {
    display: block;
    line-height: 0;
  }
  .nhsuk-header__search-toggle {
    display: none;
  }
  .nhsuk-search__input {
    -webkit-appearance: listbox;
    background-color: #ffffff !important;
    border: 1px solid #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    /* [2] */
    padding: 0 12px;
    /* [9] */
    width: 235px;
    /* [2] */
  }
  .nhsuk-search__input:focus {
    border: 1px solid #ffb81C;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: inset 0 0 0 3px #ffb81C;
    outline: none;
  }
  .nhsuk-search__input::placeholder {
    color: #768692;
    font-size: 16px;
  }
  .nhsuk-search__submit {
    background-color: #f0f4f5;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    display: block;
    float: right;
    font-size: inherit;
    height: 40px;
    /* [2] */
    line-height: inherit;
    outline: none;
    padding-left: 9px;
    /* [7] */
    padding-top: 2px;
    /* [7] */
    width: 44px;
    /* [2] */
  }
  .nhsuk-search__submit .nhsuk-icon__search {
    height: 27px;
    /* [3] */
    width: 27px;
    /* [3] */
  }
  .nhsuk-search__submit::-moz-focus-inner {
    border: 0;
    /* [4] */
  }
  .nhsuk-search__submit:focus {
    box-shadow: inset 0 0 0 4px #ffb81C;
  }
  .nhsuk-search__submit:hover {
    background-color: #003d78;
    cursor: pointer;
  }
  .nhsuk-search__submit:hover .nhsuk-icon__search {
    fill: #ffffff;
  }
  .nhsuk-search__submit:active {
    background-color: #002f5c;
  }
  .nhsuk-search__close {
    display: none;
  }
}

.nhsuk-search__input--withdropdown {
  border-bottom-left-radius: 0;
}

.nhsuk-search__submit--withdropdown {
  border-bottom-right-radius: 0;
}