{% extends 'layout.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-fieldset__legend--l">
          You can not give access to another person for the services that you use
      </h1>

      <p>This may be because:</p>
        <ul>
            <li>The services that you use do not allow people to enter and act on someone else's behalf</li>
            <li><mark>any other reasons</mark></li>
        </ul>

      <a href="">Return to manage NHS login</a>
      <br></br>
      <mark>Alt Title - You do not use any services that allow giving access to another person</mark>
    </div>

  </div>
{% endblock %}
