<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  9 of 32
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Summary
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Service:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.service }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Person who can act on your behalf:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.firstName }} {{ data.lastName }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.dobDay }} - {{ data.dobMonth }} - {{ data.dobYear }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.postcode }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.nhsnumber }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data.ContactEmailAddress }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change
                <span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <p>You are allowing {{ data.firstName }} {{ data.lastName }} to enter your {{ data.service }} account. This means they can act on your behalf and see your information within {{ data.service }}. For example, they may be able to see your medical records.</p>
      <p>You can cancel this at any time on your account management page.</p>

      {{ button({
        "text": "Continue",
        "href": "/add-delegate/success"
      }) }}
      <p><a href="/add-delegate/delegate-preflight">Start again</a></p>
    </div>  

  </div>
{% endblock %}
