<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  7 of 32
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/add-delegate/delegate-nhs-no-2" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What is {{ data.firstName }}'s NHS number?
            </h1>
          </legend>
          <span class="nhsuk-hint" id="example-hint">
            <p>Their NHS number is a 10 digit number, for example 485 777 3456</p>
          </span>
          <div class="nhsuk-form-group">
            <!--<label class="nhsuk-label" for="input-example">
              National Insurance number
            </label>-->
            <input class="nhsuk-input" id="nhsnumber" name="nhsnumber" type="number">
          </div>
            
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
