<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Add a delegate
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/add-delegate/delegate-relationship" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

            <h1 class="nhsuk-fieldset__heading">
              What is {{ data.firstName or 'Bob' }}'s relationship to you?
            </h1>
          </legend>
          
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="partner" name="relationship" type="radio" value="partner">
                <label class="nhsuk-label nhsuk-radios__label" for="partner">
                  spouse
                </label>
            </div>
           
           
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="parent" name="relationship" type="radio" value="parent">
                  <label class="nhsuk-label nhsuk-radios__label" for="parent">
                    partner
                  </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="child" name="relationship" type="radio" value="child">
                  <label class="nhsuk-label nhsuk-radios__label" for="child">
                    common law partner
                  </label>
            </div>


            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="child" name="relationship" type="radio" value="child">
                  <label class="nhsuk-label nhsuk-radios__label" for="child">
                    other
                    <div class="nhsuk-form-group">
                     <input class="nhsuk-input" id="other" name="relationship" type="text" >
                    </div>
                  </label>
            </div>

          </div>       
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
