<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  8 of 32
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <form action="/add-delegate/delegate-email" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Tell us the {{ data.firstName }}'s email address
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="contactEmailAddress">
              Email address
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="contactEmailAddress" name="contactEmailAddress" value="{{ data['contactEmailAddress'] }}" type="text">
          </div>
        </fieldset>
        <button class="nhsuk-button">Continue</button>
      </form>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
