<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Add a delegate
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/add-delegate/delegate-name" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Tell us the person's name
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="firstName">
              First name
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="firstName" name="firstName" value="{{ data['firstName'] }}" type="text">
          </div>
          <mark>Middle name only needed if we go to PDS with the information supplied</mark>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="middleName">
              Middle name (if they have one)
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="middleName" name="middleName" value="{{ data['middleName'] }}" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="lastName">
              Last name
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="lastName" name="lastName" value="{{ data['lastName'] }}" type="text">
          </div>
        </fieldset>
        <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
