<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  10 of 32
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Success!
      </h1>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <p>We have emailed [name] at [email] with a secure link. They will need to click on this link to confirm that they agree to being added to your account. If they do not already have one, they will need to set up an NHS login.</p>

{% from 'button/macro.njk' import button %}

{{ button({
  "text": "Continue to service",
  "href": "/service/service-page-logged-in"
}) }}
<br>
{{ button({
  "text": "Continue and add another person",
  "href": "/add-delegate/delegate-preflight"
}) }}

{% from 'action-link/macro.njk' import actionLink %}

{{ actionLink({
  "text": "View email sent to John",
  "href": "/email/nominator-notification"
}) }}


{{ actionLink({
  "text": "View email sent to David",
  "href": "/email/nominatee-invite"
}) }}

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
