{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
      How to enter {{ data.service or 'stepWell' }} on {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s behalf
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      How to enter {{ data.service or 'stepWell' }} on {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s behalf
      </h1>

      <p>You can now enter stepWell and act {{ data.primaryUserFirstName or 'Alice' }}'s behalf at any time.</p>

    <p>Visit <b><a href="#">www.stepwell.com</a></b> and log in with your NHS login details. You can then choose to act as {{ data.primaryUserFirstName or 'Alice' }} in your {{ data.service or 'stepWell' }} account management area.</p>
      
    </div>
  </div>

{% endblock %}