{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
NHS login - You have declined {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
NHS login - You have declined {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
      </h1>

      <p>This means you will not be able to act on behalf of {{ data.primaryUserFirstName or 'Alice' }} in {{ data.service or 'stepWell' }}.</p>
        <p>{{ data.primaryUserFirstName or 'Alice' }} will be notified of your decision.</p>
        
    </div>
  </div>

{% endblock %}