{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
        Respond to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p><h1 class="nhsuk-fieldset__legend--l">
        Respond to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
      </h1>
      
      <p>Now you have an NHS login, you can now respond to <b>{{ data.primaryUserFirstName or 'Alice' }}’s</b> invite to act on their behalf in <b>{{ data.service or 'stepWell'}}</b>.</p>
      
      <p><a href="https://nhs-cid.herokuapp.com/create-account/v18/start?service=myHealth&serviceName=myHealth&returnUrl=https://delegated-access.herokuapp.com/v3/service/consent&" class="nhsuk-button">Respond to invite</a>
      
    </div>
  </div>

{% endblock %}