{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
You have declined {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
You have declined {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s invite
      </h1>

      <p>This means you will not be able to act on behalf of <b>{{ data.primaryUserFirstName or 'Alice' }}</b> in <b>{{ data.service or 'stepWell' }}</b>.</p>
        <p><b>{{ data.primaryUserFirstName or 'Alice' }}</b> will be notified of your decision.</p>

    </div>
  </div>

{% endblock %}