{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
You have been added to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}’s NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      You have been added to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}’s NHS login as their <b>{{ data.relationship or 'carer' }}</b>
      </h1>

<!-- add in info about account management if they will see the names there -->

      <p><a href="">Contact us</a> to cancel this at any time.</p>      

      
    </div>
  </div>

{% endblock %}