{% extends '../layouts/layout-email.html' %}

{% block pageTitle %}
        Your invite to {{ data.firstName or 'Bob' }} {{ data.lastName or 'Smith' }} has expired
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      {{ data.firstName or 'Bob' }} {{ data.lastName or 'Smith' }} has not responded to your invite in time
      </h1>
      <p>It has been more than 7 days since you sent the invite and {{ data.firstName or 'Bob' }} has not replied. You will need to send {{ data.firstName or 'Bob' }} another invite if you would like to try again.</p>
    </div>

  </div>

{% endblock %}