<!-- Extends the layout from /views/layout.html -->
{% extends '../layouts/blank-loggedout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Log in to stepWell
{% endblock %}

{% block beforeContent %}

{{ hero({
  "heading": "Log in to stepWell",
  
  "imageURL": "/images/Fibre-494278832-MED.jpg" 
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <h3>How would you like to sign in?</h3>
    
    
    <div class="nhsuk-grid-column-one-third">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:auto;" src="../../images/ContinueWith_Original.png"></a></p>
    </div>  

    <div class="nhsuk-grid-column-one-third">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:65%;" src="../../images/ContinueWith_Original.png"></a></p>
    </div>  

    <div class="nhsuk-grid-column-one-third">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:270px;" src="../../images/ContinueWith_Original.png"></a></p>
    </div>  
     
    </div>
  </div>


{% endblock %}
