<!-- Extends the layout from /views/layout.html -->
{% extends '../layouts/blank-loggedout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Log in to stepWell
{% endblock %}

{% block beforeContent %}

{{ hero({
  "heading": "Log in to stepWell",
  
  "imageURL": "/images/Fibre-494278832-MED.jpg" 
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <h3>How would you like to sign in?</h3>
    
    
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:270px;" src="../../images/ContinueWith_Original.png"></a></p>
    </div>  

    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img src="../../images/ContinueWith_Original.png"></a></p>
    </div>  

    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <p><a href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:270px;" src="../../images/ContinueWith_Original.png"></a></p>
    </div>  
      
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
           <div class="nhsuk-promo__link-wrapper">
              <div class="nhsuk-promo__content">
          <a  class="nhsuk-header__navigation-link" href="https://delegated-access-nhslogin.herokuapp.com/create-account/v18/start?service='stepWell'&serviceName=stepWell&returnUrl=https://delegated-access.herokuapp.com/v5/service/myhealth-logged-in"><img style="width:150px;" src="../../images/ContinueWith_Original.png"></a>

              </div>
           </div>
          </div>
        </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
      <div class="nhsuk-promo">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">Order repeat prescriptions</h3>
              <p>See your available medications and request a new repeat prescription</p>
          </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="#">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">View your medical record</h3>
            <p>Get secure access to your GP medical record</p>
          </div>
        </a>
      </div>
    </div>
  </div>


{% endblock %}
