{% extends 'layout.html' %}

{% block pageTitle %}
  Error: You cannot add anyone at this time
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="http://manage-nhs-login.herokuapp.com/account/v3d/index?primaryUserFirstName=Alice&primaryUserLastName=Smith">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to: Your NHS login settings</a>
</div>
<br>

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Choose a website or app to add someone to
            </h1>
         </legend>

               <div class="nhsuk-radios">
        <p> You cannot add anyone at this time. The websites or apps you use right now do not let other people enter and act on your behalf.</p>

        <p>There are other websites or apps available to you that may allow you to give access to other people.</p>

            Reference: <b>CID9000</b></p>
</div>

      <p><a href="http://manage-nhs-login.herokuapp.com/account/v3b/index?mattisthebest=true&version=v3&primaryUserFirstName=Alice&primaryUserLastName=Smith">Go back to your NHS login settings</a></p>


   </div>
  </div>
{% endblock %}
