<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Add a delegate
{% endblock %}

{% block content %}

<!-- do not copy this bit -->
<style>
#autocomplete-customTemplates {
border: 4px solid #da291c;
}
</style>
<!-- do not copy this bit -->

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#example-error-1">You need to select a relationship</a>
            </li>
          </ul>
      </div>

     {% if data.summaryReturn === 'yes' %}
        <form action="/v2/add-delegate/delegate-summary" method="get">
      {% else %}
        <form action="/v2/add-delegate/delegate-relationship" method="post">
      {% endif %}
      <div class="nhsuk-form-group nhsuk-form-group--error">
        
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What is {{ data.firstName or 'Bob' }}'s relationship to you?
            </h1>
          </legend>
          <span class="nhsuk-error-message" id="new-email-no-input-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> You need to select a relationship
            </span>
          <span class="nhsuk-hint" id="example-hint">
            <p>Start typing and we'll try and match it</p>
          </span>
          <!--<label class="" for="my-autocomplete">Start typing and we'll try and match it</label>-->
          <div id="my-autocomplete-container"></div>

         
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
      
    </div>  
  </div>
{% endblock %}
{% block pageScripts %}
<script>
function customSuggest (query, syncResults) {
        var results = [
          { endonym: 'Partner', name: 'Wife' },
          { endonym: 'Partner', name: 'Husband' },
          { endonym: 'Partner', name: 'Civil Partner' },
          { endonym: 'Partner / Girlfriend / Boyfriend / Cohabiting', name: 'Common law partner' },
          { endonym: 'Partner', name: 'Other partner' },
          { endonym: 'Parent / Mum', name: 'Mother' },
          { endonym: 'Parent / Dad', name: 'Father' },
          { endonym: 'Parent / Mum', name: 'Step-mother' },
          { endonym: 'Parent / Dad', name: 'Step-father' },
          { endonym: 'Parent', name: 'Foster parent' },
          { endonym: 'Parent', name: 'Legal guardian' },
          { endonym: 'Parent', name: 'Other parent' },
          { endonym: 'Child', name: 'Daughter' },
          { endonym: 'Child', name: 'Son' },
          { endonym: 'Child', name: 'Step-daughter' },
          { endonym: 'Child', name: 'Step-son' },
          { endonym: 'Child', name: 'Foster child' },
          { endonym: 'Child', name: 'Ward' },
          { endonym: 'Child', name: 'Other child' },
          { endonym: 'Sibling', name: 'Sister' },
          { endonym: 'Sibling', name: 'Brother' },
          { endonym: 'Sibling', name: 'Sister-in-law' },
          { endonym: 'Sibling', name: 'Brother-in-law' },
          { endonym: 'Sibling', name: 'Step-sister' },
          { endonym: 'Sibling', name: 'Step-brother' },
          { endonym: 'Sibling', name: 'Other sibling' },
          { endonym: 'Family / Nan / Grandma', name: 'Grandmother' },
          { endonym: 'Family / Grandad / Grandpa', name: 'Grandfather' },
          { endonym: 'Family / Nan / Grandma', name: 'Great Grandmother' },
          { endonym: 'Family / Grandad / Grandpa', name: 'Great Grandfather' },
          { endonym: 'Family / Auntie', name: 'Aunt' },
          { endonym: 'Family', name: 'Uncle' },
          { endonym: 'Family', name: 'Cousin' },
          { endonym: 'Family', name: 'Niece' },
          { endonym: 'Family', name: 'Nephew' },
          { endonym: 'Family', name: 'Granddaughter' },
          { endonym: 'Family', name: 'Grandson' },
          { endonym: 'Family', name: 'Other family' },
          { endonym: 'Helper', name: 'Carer' },
          { endonym: 'Neighbour', name: 'Friend' }

          
          /* { endonym: 'Mum / Mom', name: 'Mother' },
          { endonym: 'Son / Daughter', name: 'Child' },
          { endonym: 'Dad', name: 'Father' },
          { endonym: 'Husband Wife', name: 'Spouse' },
          { endonym: 'Mother / Father / Son / Daughter / Niece / Nephew', name: 'Next of kin' },
          { endonym: 'Girlfriend / Boyfriend', name: 'Partner' },
          { endonym: '', name: 'Not Specified' },
          { endonym: 'Grandparent / Grandmother / Grandad / Nan', name: 'Relative' },
          { endonym: 'Sibling', name: 'Sister' },
          { endonym: 'Sibling', name: 'Brother' },
          { endonym: '', name: 'Not Known' },
          { endonym: 'Mother / Father', name: 'Parent' },
          { endonym: 'Helper', name: 'Carer' },
          { endonym: '', name: 'Non-dependant' },
          { endonym: '', name: 'Foster parent' },
          { endonym: 'Step Mother / Step Father', name: 'Step parent' },
          { endonym: 'Son / Daughter / Nephew / Niece', name: 'Dependant' },
          { endonym: 'Grand Parent / Grandad / Grandma / Uncle / Aunt', name: 'Guardian' },
          { endonym: '', name: 'Polygamous partner' } */
        ]
        syncResults(query
          ? results.filter(function (result) {
              var resultContains = result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1
              var endonymContains = result.endonym.toLowerCase().indexOf(query.toLowerCase()) !== -1
              return resultContains || endonymContains
            })
          : []
        )
      }

      function inputValueTemplate (result) {
        return result && result.name
      }

      //function suggestionTemplate (result) {
      //  return result && '<strong>' + result.name + '</strong>' +
      //    ' (<span lang=' + result.endonymLang + '>' + result.endonym + '</span>)'
      //}

      // remove the internationalised section
      function suggestionTemplate (result) {
        return result && '<strong>' + result.name + '</strong>' +
          ' (' + result.endonym + '</span>)'
      }

      element = document.querySelector('#my-autocomplete-container')
      id = 'autocomplete-customTemplates'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: 'relationship',
        source: customSuggest,
        templates: {
          inputValue: inputValueTemplate,
          suggestion: suggestionTemplate
        }
      })
    

</script>
{% endblock %}
