<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS login - {{ data.primaryUserFirstName or 'Alice' }} has sent you an invite
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }} has sent you an invite</h1>  

      <p>{{ data.primaryUserFirstName or 'Alice' }} is inviting you to enter their <b>{{ data.service or 'stepWell' }}</b> account and act on their behalf. 
      To accept this invite, you must agree to share some of your NHS login information with <b>{{ data.service or 'stepWell' }}</b>.</p>
      <p><b>{{ data.service or 'stepWell' }}</b> will see your:
      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>NHS number</li>
        <li>relationship to {{ data.primaryUserFirstName or 'Alice' }}</li>
      </ul>

      <p><b>{{ data.service or 'stepWell' }}</b> will not see your personal health information.

      <p>You will be added to {{ data.primaryUserFirstName or 'Alice' }}'s NHS login as their <b>{{ data.relationship or 'carer'}}</b> and will be able to act on their behalf. 
      This means {{ data.primaryUserFirstName or 'Alice' }} will be able to see your name in the account management area of their NHS login.</p>

      <p>You will not create your own <b>{{ data.service or 'stepWell' }}</b> account by accepting this invite and {{ data.primaryUserFirstName or 'Alice' }} will not be able to see your personal health information.</b>
      
      <p>Before you agree, you should read <b>{{ data.service or 'stepWell' }}</b>'s <a href="#">terms of use</a> and <a href="#">privacy policy</a> to check how they will use your information.</p>


      <form action="{{ thisPage }}" method="post">
        <fieldset class="nhsuk-fieldset">
          <input id="email" name="emailAddress" value="lydia.teebay1@nhs.net" type="hidden"> 
        </fieldset>
        <button class="nhsuk-button">Agree and continue</button>
      </form>


    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
