{% extends 'layout.html' %}

{% block pageTitle %}
  Error
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-fieldset__legend--l">
          You cannot add anyone at this time
      </h1>

      <p>The services you use right now do not let other people enter and act on your behalf.</p>

      <p>There are other services available to you that may allow you to give access to other people.</p>

      <p><a href="http://manage-nhs-login.herokuapp.com/account/v3b/index?mattisthebest=true&version=v3&primaryUserFirstName=Alice&primaryUserLastName=Smith">Go back to manage your NHS login</a></p>
    </div>

      <p>Reference: <b>CID9000</b></p>

  </div>
{% endblock %}
