<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#example-error-1">You need to select a service</a>
            </li>
          </ul>
      </div>
      {% if data.summaryReturn === 'yes' %}
        <form action="/v2/add-delegate/delegate-summary" method="get">
      {% else %}
        <form action="/v2/add-delegate/delegate-preflight" method="get">
      {% endif %}
      <div class="nhsuk-form-group nhsuk-form-group--error">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Which service do you want to add the person to?
            </h1>
            <!--<p>You can be given access to manage a service on behalf of another person or give access to someone to act on your behalf</p>
            <p>You can connect your NHS login with another person. You can add services to that person and allow them to access services on your behalf</p>-->
          </legend>

          <span class="nhsuk-hint" id="example-hint">
            The person you add will be able to access a service on your behalf, they will be able to do some or all of the things that you can do in the selected service.
          </span>

                    <span class="nhsuk-error-message" id="new-email-no-input-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> You need to select a service
            </span>
            
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="service1" name="service" type="radio" value="myHealth">
                <label class="nhsuk-label nhsuk-radios__label" for="service">
                  myHealth
                </label>
            </div>
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="service2" name="service" type="radio" value="NHS App">
                  <label class="nhsuk-label nhsuk-radios__label" for="service">
                    NHS App
                  </label>
            </div>
          </div>       
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      <!-- NOT MVP -->
      <!--
      <p><a href="/service/select-service-not-listed">My service is not listed</a></p>
      -->
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          My service is not listed
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Some services do not allow people to enter and act on someone else's behalf</p>
        </div>
      </details>
      </form>
    </div>  
  </div>
</div>  

  </div>
{% endblock %}
