<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Select {{ data.firstName or 'Bob' }}'s relationship to you
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data.summaryReturn === 'yes' %}
        <form action="delegate-summary" method="get">
      {% else %}
        <form action="delegate-nhs-no-1" method="get">
      {% endif %}
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

            <h1 class="nhsuk-fieldset__heading">
              What is {{ data.firstName or 'Bob' }}'s relationship to you?
            </h1>
          </legend>
          
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="wife" name="relationship" type="radio" value="Wife">
                <label class="nhsuk-label nhsuk-radios__label" for="wife">
                  Wife
                </label>
            </div>
           
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="husband" name="relationship" type="radio" value="Husband">
                <label class="nhsuk-label nhsuk-radios__label" for="husband">
                  Husband
                </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="civilpartner" name="relationship" type="radio" value="Civil partner">
                  <label class="nhsuk-label nhsuk-radios__label" for="civilpartner">
                    Civil partner
                  </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="commonlawpartner" name="relationship" type="radio" value="Common law partner">
                  <label class="nhsuk-label nhsuk-radios__label" for="commonlawpartner">
                    Common law partner
                  </label>
            </div>
            

                        <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="partnerother" name="relationship" type="radio" value="Partner - other">
                  <label class="nhsuk-label nhsuk-radios__label" for="partnerother">
                    Other partner
                  </label>
            </div>

<!--
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="other" name="relationship" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="other">
                    other:
                     <input class="nhsuk-input" id="partner-other" name="relationship" type="text" >
                  </label>
            </div>
-->
          </div>       
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
