<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Tell us {{ data.firstName or 'Bob' }}'s NHS number
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.summaryReturn === 'yes' %}
        <form action="delegate-summary" method="get">
              <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="delegate-summary">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to: Summary</a>
</div>
<br>

      {% else %}
        <form action="delegate-email" method="get">
      <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="delegate-nhs-no-1">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
                Back to: Tell us if you know {{data.firstName or 'Bob' }}'s NHS number</a>
</div>
<br>

      {% endif %}

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Tell us {{ data.firstName or 'Bob' }}'s NHS number
            </h1>
          </legend>
          <span class="nhsuk-hint nhsuk-u-margin-bottom-2">
            This is a 10 digit number, like 485 777 3456
          </span>

          <div class="nhsuk-form-group">
            <input class="nhsuk-input" id="nhsnumber" name="nhsnumber" type="number">
          </div>
            
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>

            <p>If you do not know their NHS number or it does not work, you can <a href="delegate-dob">tell us {{data.firstName or 'Bob'}}'s date of birth</a>.</p>

    </div>  
  </div>
{% endblock %}
