{% extends 'v2/layouts/layout-email.html' %}

{% block pageTitle %}
  EMAIL
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      You can now act on {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}'s behalf in {{ data.service or 'stepWell' }}.
      </h1>

      <!-- NOT MVP -->
      <!-- 
      <p>This means you will be able to see {{ data.primaryUserFirstName or 'Alice' }}'s {{ data.service or 'stepWell' }} information. 
          For example, you may be able to see some of their medical or appointment information.</p>
      -->
     <!-- <mark>is this message right?</mark>-->
        
      <p>You can cancel this at any time by <a href="">managing your NHS login.</a></p>
    </div>
  </div>

{% endblock %}