{% extends 'v2/layouts/layout-email.html' %}

{% block pageTitle %}
  EMAIL
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      Success
      </h1>

      <p>You have been added to {{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}’s NHS login as their <b>{{data.relationship or 'carer' }}</b>. 
      You can now enter <b>{{ data.service or 'stepWell' }}</b> on their behalf, and any other services they ask you to.</p>
        
      <p>You can cancel this at any time by visiting your <a href="">NHS login account management area</a>.</p>
    </div>
  </div>

{% endblock %}