<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/blank.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MyHealth
{% endblock %}

{% block beforeContent %}

{{ hero({
  "heading": "Welcome to myHealth",
  
  "imageURL": "/images/cardiologyBanner.jpg"
}) }}

{% endblock %}

<!-- if the user is logging in as another person then display the banner -->
{% block proxy %}
  {% if data.primaryUser != data.delegate %}
    <div class="proxy">You are logged in as {{ data.primaryUser or 'Alice' }}</div>
  {% endif %}
{% endblock %}



<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

    
      <!-- Change the page title here -->
     <!-- <h1>{{ data.service or 'myHealth' }}</h1>-->

      
<div class="nhsuk-grid-row nhsuk-panel-group">
  <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
    <div class="nhsuk-panel">
      <h3>Eat well</h3>
      <p>All you need to know about the major food groups and a healthy, balanced diet</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
    <div class="nhsuk-panel">
      <h3>Healthy weight</h3>
      <p>Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
    <div class="nhsuk-panel">
      <h3>Sleep and tiredness</h3>
      <p>Find out how to sleep well and the common lifestyle factors that are making you tired</p>
    </div>
  </div>
</div>

    </div>  

  </div>
{% endblock %}
