<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/service/select-multi-service" method="post">

      <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="waste-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Which services do you want to add the person to?
      </h1>
    </legend>
    <span class="nhsuk-hint" id="waste-hint">
    Select all that apply
    </span>
    <div class="nhsuk-checkboxes">
      <!--<div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="service-0" name="selectMultiService" type="checkbox" value="selectAll">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="service-0">
        select all
        </label>
      </div>
      -->
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="service-1" name="selectMultiService" type="checkbox" value="myHealth">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="service-1">
        myHealth
        </label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="service-2" name="selectMultiService" type="checkbox" value="NHS App">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="service-1">
        NHS App
        </label>
      </div>
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="service-3" name="selectMultiService" type="checkbox" value="eRedbook">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="service-1">
        eRedbook
        </label>
      </div>
    </div>
  </fieldset>
</div>
<button class="nhsuk-button">Continue</button>
<p><a href="/service/select-service-not-listed">Why is my service is not listed</a></p>
      </form>
    </div>  
  </div>
</div>  

  </div>

 {% block scripts %}
 <script>


/*
var checkbox = document.querySelector("input[name=selectMultiService]");

checkbox.addEventListener( 'change', function() {
    if(this.checked) {
        console.log('clicked')
    } else {
        console.log('something else clicked')
    }
});
*/

</script>
 {% endblock %}

{% endblock %}
