<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Service consent
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{#
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}
#}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Agree to share your NHS login information</h1>
      <p>{{ data.delegateUser or 'John' }} is allowing you to enter their {{ data.service or 'myHealth' }} account and act on their behalf. 
To accept this request and continue, you need to agree to share your NHS login information. </p>
      <p>{{ data.service or 'myHealth' }} will use your:
      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>NHS number</li>
      </ul>
      <p>Before you agree, you should read their terms of use and privacy policy to check how they will use your information.<p>
      
      {{ button({
        "text": "Agree and continue",
        "href": "/service/service-consent-success"
      }) }}

<p><a href="#">I do not want to use my NHS login</a>

    </div>  
  </div>
    </div>
  </div>  
{% endblock %}
