<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Success!
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        You can now act on behalf of {{ data.delegateUser or 'John' }} within {{ data.service or 'myHealth' }}
      </h1>
      <p>You can now enter <strong>{{ data.delegateUser or 'John' }}'s</strong> {{ data.service or 'myHealth' }} account. 
      This means you can act on their behalf and see their information within {{ data.service or 'myHealth'  }}. For example, you may be able to see their medical records.</p>
      <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>Access to some things needs a higher level of security and so your details will be sent to be authorised by a clinician. Until you are fully authorised you may not be able to use all the features. This can take up to 7 days.</p>
</div>
      <p>Email the service desk at <a href:"mailto:XXX">XXX</a> if you would like to cancel this connection at any time.</p><BR>
      
      <a href="/login/login-as-combined" role="button" draggable="false" class="nhsuk-button">
        Continue to {{ data.service or 'myHealth' }}
      </a>
    </div>  

  </div>
{% endblock %}
