<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS login - Add a delegate
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data.summaryReturn === 'yes' %}
        <form action="/v2/add-delegate/delegate-summary" method="get">
      {% else %}
        <form action="/v2/add-delegate/delegate-email" method="get">
      {% endif %}
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Tell us {{ data.firstName or 'Bob' }}'s date of birth
              </h1>
            </legend>
            <span class="nhsuk-hint" id="dob-hint">
              For example, 31 3 1980
            </span>
            <div class="nhsuk-date-input" id="dob">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dobDay">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dobDay" name="dobDay" type="number" {{ data['dobDay'] }} pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dobMonth">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dobMonth" name="dobMonth" type="number" {{ data['dobMonth'] }} pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dobYear">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dobYear" name="dobYear" type="number" {{ data['dobYear'] }} pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
