<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        MVP v1 Prototype
      </h1>
      {#
      {{ button({
        "text": "Research Flow - Invite",
        "href": "research-flow-bob"
      }) }}

      {{ button({
        "text": "Research Flow - Add",
        "href": "research-flow-alice"
      }) }}
      #}

      <h2>Primary user adds a delegate</h2>

      <p>
        Alice has an NHS login account and has no delegate for myHealth<br>
        Journey starts with Alice adding a delegate.
      </p>
      {{ button({
        "text": "Add delegate flow",
        "href": "research-flow-alice"
      }) }}
      {#
      {{ button({
        "text": "Start flow as Alice",
        "href": "alice-adds-bob-as-delegator"
      }) }}
      #}

      <h3>Emails</h3>
      <a href="email/user-security">Security ("someone has been invited, if this wasn't you contact us")</a></br></br>
      <a href="email/user-success-nhs">NHS success ("someone has been added and accepted as a delegate to your NHS login account - add another / see all delegates")</a></br></br>
      <a href="email/user-success-service">Service success ("someone has been added and accepted to act on behalf within [SERVICE] - add another / see all delegates")</a>
      <hr>

      <h2>Delegate user accepts invitation</h2>
      <p>
        Bob has been invited to act on behalf of Alice as a delegate on myHealth<br>
        Bob has not agreed to consent<br>
        Bob may or may not have an NHS login account already<br>
        Journey starts with Bob receiving an email inviting him to be a delegate
      </p>
      {{ button({
        "text": "Accept invite flow",
        "href": "research-flow-bob"
      }) }}
      {#
      {{ button({
        "text": "Start flow as Bob",
        "href": "alice-nominates-bob"
      }) }}
      #}
      <h3>Emails</h3>
      <a href="email/delegate-invite">Invite ("someone has added you to their account, this means you can do this, this and this, click here to accept invite")</a></br></br>
      <a href="email/delegate-success-nhs">NHS success ("you have been connected to someone's nhs login - see all people you can act on behalf of")</a></br></br>
      <a href="email/delegate-success-service">Service success ("you have been added as a delegate to someone's [SERVICE] account - see all people you can act on behalf of")</a>
      <br /><br />
      <h3>Consent</h3>
      <a href="service/nhslogin-consent">Consent to be added/connected to the user's NHS login account</a><br /><br />
      <a href="service/service-consent">Consent for the specific service that they have been allocated to</a>
{#
      <hr>

      <p>Bob has been added as a delegate for Alice and can now log into myHealth on her bahalf</p>
      <a class="nhsuk-button" href="http://localhost:3000/login/login-as-combined">Enter myHealth on behalf of Alice</a>

      <hr>    
      
      <h2 id="modules">Modules</h2>
      <h3><a href="/email/nominatee-invite">Accept a nomination - option 1</a></h3>
      <p>Nominated delegate is sent an email which they can follow to accept/reject the access within account management</p>
      <a href="https://confluence.digital.nhs.uk/display/NL/Delegated+Access+-+Accept+a+Nomination">Confluence</a>
      
      <hr>
      
      <h3>Accept a nomination - option 2 - </h3>
      <p>Nominated delegate is sent and email in which they can accept/reject the invitation within from the email - this is currently not being prototyped</p>
      <a href="https://confluence.digital.nhs.uk/display/NL/Delegated+Access+-+Accept+a+Nomination+-+OPTION+2">Confluence</a>
      
      <hr>
      
      <h3><a href="/add-delegate/delegate-preflight">Nominate a delegate - option 1</a></h3>
      <p>Information is added about the nominated delegate, the delegated is matched against the information submitted and then added to a service</p>
      <a href="https://confluence.digital.nhs.uk/display/NL/Delegated+Access+-+Nominate+a+Delegate">Confluence</a>
      
      <hr>
      
      <h3><a href="/service/select-single-service">Nominate a delegate - option 2</a></h3>
      <p>The service is selected first and then the user added the nominated delegate information before matching <br><mark>The service select page needs creating for this</mark></p>
      <a href="https://confluence.digital.nhs.uk/display/NL/Delegated+Access+-+Nominate+a+Delegate+-+OPTION+2">Confluence</a>
      
      <hr>
      
      <h3>Authenticating and switching to delegated account</h3>
      <a href="https://confluence.digital.nhs.uk/display/NL/Delegated+Access+-+Authenticating+and+switching+to+delegated+account">Confluence</a>

      <hr>

      <h3>Switch roles in NHS login</h3>
      <p>to do</p>

      <hr>

      <h3><a href="http://localhost:3000/login/login-as-combined">Delegated Access login</a></h3>
      <p>The user is asked if they want to log in as themselves or as a delegated</p>
      
      <hr>
      
      <h3>login via OICD - option 1</h3>
      <p>to do</p>

      <hr>

      <h3>login via OICD - option 1</h3>
      <p>to do</p>

      <hr>

      <h3>login via OICD - option 1</h3>
      <p>to do</p>
      #}
    </div>  

  </div>
{% endblock %}
