{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  EMAIL
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      You can now act on {{ data.primaryUserFirstName or 'Alice' }}'s behalf in {{ data.service or 'myHealth' }}.
      </h1>

      <!-- NOT MVP -->
      <!-- 
      <p>This means you will be able to see {{ data.primaryUserFirstName or 'Alice' }}'s {{ data.service or 'myHealth' }} information. 
          For example, you may be able to see some of their medical or appointment information.</p>
      -->
      <mark>is this message right?</mark>
      <p>You can cancel this at any time by visiting your NHS login account management area.</p>
        
      <p><a href="#" class="nhsuk-button">Continue to {{ data.service or 'myHealth' }}</a></p>
    </div>
  </div>

{% endblock %}