{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Someone has been added to your NHS login account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      You are now added to {{ data.currentUser or 'Alice' }}'s {{ data.service or 'myHealth' }} account.
      </h1>
This means that you can now....
      <p>You can view people who you can act on behalf of, or people who can act on behalf of you on the NHS login account manangement area.<br>
      You can cancel these account connections on the NHS login account management area.
      <p><a href="/add-delegate/delegate-preflight" class="nhsuk-button">Account management</a></p>
    </div>
          <mark>Need to include information on how to remove the connection to their NHS login</mark>

  </div>

{% endblock %}