{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  EMAIL - Invite to myHealth
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p><h1 class="nhsuk-fieldset__legend--l">
        {{ data.currentUser or 'John' }} has invited you to act on their behalf in {{ data.service or 'myHealth' }}.
      </h1>

      <p>This means you will be able to see {{ data.currentUser or 'John' }}’s {{ data.service or 'myHealth' }} information. 
      For example, you may be able to see some of their medical or appointment information.</p>
      
      <p>To do this you must accept the invitation and sign in with your NHS login. If you do not have an NHS login you will need to set one up.</p>
      
      <p><a href="/login/have-login" class="nhsuk-button">Continue to {{ data.service or 'myHealth' }} </a>
      
      <p>This link will expire in 7 days.</p>
      
      <p><a href="#">Contact us</a> if you do not know this person or you think this may be an error.</p>
    </div>
  </div>

{% endblock %}