{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Someone has been added to your NHS login account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      {{ data.firstName or 'David' }} {{ data.lastName or 'Smith' }} has been added to your NHS login
      </h1>
      <p>{{ data.firstName or 'David' }} {{ data.lastName or 'Smith' }} has accepted your invite to be added to your NHS login. You can remove them at any time by visiting your account management area.</p>
      <p><a href="/add-delegate/delegate-preflight" class="nhsuk-button">Account management</a></p>
      <p><a href="">Add another person to your NHS login</a></p>
    </div>
    <mark>Need to mention: You can now add them to a service (if you haven't already) within the account management. Levels of access per service can be changed through the service settings.</mark><br>

  </div>

{% endblock %}