{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Someone has been added to your NHS login account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
      {{ data.firstName }} {{ data.lastName }} has been added to your NHS login account
      </h1>
      <p>You have given {{ data.firstName }} {{ data.lastName }} access to act on your behalf within {{ data.service }} via NHS login.</p>
      <p><a href="#">Contact us</a> if you did not do this or you think this may be an error.</p>
      <p><a href="/add-delegate/delegate-preflight" class="nhsuk-button">View people who have access to your {{ data.service }} account</a></p>
    </div>
          <mark>Waiting for copy from Ian</mark>

  </div>

{% endblock %}