<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        MVP v2 Prototype
      </h1>
     
      <h2>Primary user adds a delegate</h2>

      <p>
        Alice has an NHS login account and has no delegate for myHealth<br>
        Journey starts with Alice adding a delegate.
      </p>
      {{ button({
        "text": "Add delegate flow",
        "href": "research-flow-alice?version=v2"
      }) }}

      <h3>Emails</h3>
      <a href="email/user-security">Security ("someone has been invited, if this wasn't you contact us")</a></br></br>
      <a href="email/user-success-nhs">NHS success ("someone has been added and accepted as a delegate to your NHS login account - add another / see all delegates")</a></br></br>
      <a href="email/user-success-service">Service success ("someone has been added and accepted to act on behalf within [SERVICE] - add another / see all delegates")</a>
      <hr>

      <h2>Delegate user accepts invitation</h2>
      <p>
        Bob has been invited to act on behalf of Alice as a delegate on myHealth<br>
        Bob has not agreed to consent<br>
        Bob may or may not have an NHS login account already<br>
        Journey starts with Bob receiving an email inviting him to be a delegate
      </p>
      {{ button({
        "text": "Accept invite flow",
        "href": "primary-user-details-and-relationship"
      }) }}
      
      <h3>Emails</h3>
      <a href="email/delegate-invite">Invite ("someone has added you to their account, this means you can do this, this and this, click here to accept invite")</a></br></br>
      <a href="email/delegate-success-nhs">NHS success ("you have been connected to someone's nhs login - see all people you can act on behalf of")</a></br></br>
      <a href="email/delegate-success-service">Service success ("you have been added as a delegate to someone's [SERVICE] account - see all people you can act on behalf of")</a>
      <br /><br />
      <h3>Consent</h3>
      <a href="service/nhslogin-consent">Consent to be added/connected to the user's NHS login account</a><br /><br />
      <a href="service/service-consent">Consent for the specific service that they have been allocated to</a>

    </div>  

  </div>
{% endblock %}
