<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Add a delegate
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Allow someone to enter {{ data.service or 'myHealth' }} on your behalf</h1>
      <h2>Before you start</h2>
     
      <p>To allow someone else to act on your behalf, you will need to tell us:</p>
      <ul>
        <li>their full name</li>
        <li>your relationship to the person</li>
        <li>their date of birth</li>
        <li>their email address</li>
      </ul>

      <!-- NOT MVP -->
      <!--
      <p><a href="/add-delegate/delegate-list">See who can enter {{ data.service or 'myHealth' }} on your behalf.</a></p>
      -->
    </div>  

  </div>
{% endblock %}
