<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Delegated Access
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <h1>Delegated Access</h1>
      <mark>Rachel to confirm facts and figures and how to respresent high level info</mark>
      </br>
      </br>
      <div class="nhsuk-grid-row nhsuk-panel-group">
        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3 class="nhsuk-heading-xl">1</h3>
            <p>Iteration</p>
          </div>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
            <div class="nhsuk-panel">
              <h3 class="nhsuk-heading-xl">40+</h3>
              <p>Users involved</p>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
            <div class="nhsuk-panel">
              <h3 class="nhsuk-heading-xl">840</h3>
              <p>Mins of user testing</p>
            </div>
          </div>
        </div>
  
    <h2>Nominated Access</h2>
      <p>This scenario is where one competent adult wants to share access to some/all of their health data with another competent adult. A pre-requisite for this journey is that both parties must have a NHS Login account. This means that both parties will have been ID verified by the NHS Login service.</p>
        <ul>
          <li><a href="https://jira.digital.nhs.uk/browse/CID-5577">JIRA Epic</a></li>
          <li><a href="https://confluence.digital.nhs.uk/display/NL/Nominated+Access">Confluence</a></li>
          <li><a href="/v1/index">Current version</a></li>
        </ul>


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            MVP v1
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <br>
          <h3><a href="/v1/index">MVP v1 Prototype</a></h3>
            <p>For this initial prototye the bulk of the design was built around technnical requirements and limitations, past research and multiple quan surveys. We created a prototype before the end of discovery to aid discussions within the team and to take to a co-creation session</p>
            <ul>
              <li>Gov survey <a href="https://confluence.digital.nhs.uk/display/NL/Internal+Survey+April+2019">Gov Survey</a></li>
              <li>CAPI survey <a href="https://confluence.digital.nhs.uk/display/NL/CAPI+Survey+-+Healthcare+Management">CAPI Survey</a></li>
              <li>Past discovery research</li>
              <li>Assumptions</li>
            </ul>
          <h3>User testing (2)</h3>
          <ul>
            <li>Carers group Methley 3rd September - 10+ focus group</li>
            <li>In home sessions with people who do tasks on behalf of another person - 4 primary users, 4 delegates</li>
          </ul>
          <h3>Design Challenges (2)</h3>
          <ul>
            <li>Some users don't understand relationship group meanings, eg sibling, civil partnership etc</li>
            <li>more to add following research analysis</li>
          </ul>
          {{ button({
            "text": "MVP - v01",
            "href": "v1/index"
          }) }}
          <hr>
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            MVP v2
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <br>
          <h3><a href="/v2/index">MVP v2 Prototype</a></h3>
            <p>Added a new design for relationship selection. Removed reference to legal name and legal relationship.
            Changed the myHealth colour scheme to be green. Added ability to add the primary user at the start of the flow.
            Service selection comes first.
            </p>
            <ul>
              <li>Gov pattern for selection with synonyms <a href="https://alphagov.github.io/accessible-autocomplete/examples/">Accessible Autocomplete</a></li>
            </ul>
          <h3>User testing (2)</h3>
          <ul>
            <li>GP surgery popup 26th Sept - 4 users</li>
            <li>Weetwood hall 7th Oct - 7 users (40min sessions)</li>
          </ul>
          <h3>Key Fingings (0)</h3>
          <ul>
            <li>The updated relationship pattern testing was inconclusive. Some users like the radios, others the search</li>
            <li>to add</li>
          </ul>
          <h3>Design Challenges (0)</h3>
          <ul>
            <li>Improve the content and grouping of the relationship radios</li>
            <li>to add</li>
          </ul>
          {{ button({
            "text": "MVP - v02",
            "href": "v2/index"
          }) }}
          <hr>
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            MVP v3
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <br>
          <h3><a href="/v3/index">MVP v3 Prototype</a></h3>
            <p>to add</p>
            <ul>
              <li>to add</li>
            </ul>
          <h3>User testing (2)</h3>
          <ul>
            <li>to add</li>
          </ul>
          <h3>Key Fingings (0)</h3>
          <ul>
            <li>to add</li>
          </ul>
          <h3>Design Challenges (0)</h3>
          <ul>
            <li>to add</li>
          </ul>
          {{ button({
            "text": "MVP - v03",
            "href": "v3/index"
          }) }}
          <hr>
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Error messages
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Service Select</h4>
          <ul>
            <li><a href="/v2/errors/select-service/user-fails-to-select-service">User doesn't select a service</a></li>
            <li><a href="/v2/errors/select-service/no-services-are-available-for-the-user-to-select">No services are available for the user to select</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Enter name of delegate</h4>
          <ul>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-first-name-and-last-name">User fails to add first name and last name of the delegate</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-first-name">User fails to add first name of the delegate</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-last-name">User fails to add last name of the delegate</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Select delegate relationship</h4>
          <ul>
            <li><a href="/v2/errors/add-delegate/user-fails-to-select-relationship">User fails to select a relationship before continuing</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Enter delegate NHS Number</h4>
          <ul>
            <li><a href="/v2/errors/add-delegate/user-fails-to-select-option-nhs">User fails to select whether they have NHS number</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-nhs-number">User fails to add an NHS number</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-valid-nhs-number">User adds an NHS number that isn't valid</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Enter delegate DOB</h4>
          <ul>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-dob">User fails to add a DOB (either field)</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-valid-dob">User fails to add a valid DOB</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Enter delegate email address</h4>
          <ul>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-email">User fails to add an email</a></li>
            <li><a href="/v2/errors/add-delegate/user-fails-to-add-valid-email">User fails to add a valid email</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Delegate invite</h4>
          <ul>
            <li><a href="/v2/errors/invitation/invitation-has-expired">Invitation has expired</a></li>
            <li><a href="/v2/errors/invitation/invitation-not-valid">Invitation is not valid</a></li>
          </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Login in as delegate</h4>
          <ul>
            <li><a href="/v2/errors/login/user-fails-to-select-who-they-are-logging-in-as">User fails to select who they are logging in as</a></li>
          </ul>

          <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Matching delegate user</h4>
        <ul>
          <li><a href="/v2/errors/invitation/delegate-user-is-not-matched">Delegate user is not matched</a></li>
        </ul>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Other scenarios</h4>
        <ul>
          <li><a href="/v2/errors/other/user-starts-the-journey-part-way-through">User starts the journey part way through</a></li>
        </ul>
        </div>
      </details>
      {#
      <hr> 

      <h2>Mother claims child</h2>
      <p>Pending</p>

      <hr> 

      <h2>Power of attorney</h2>
      <p>Pending</p>
      #}
    </div>
  </div>
{% endblock %}
