<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Delegated Access
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        MVP
        <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>-->
      </h1>

      <h2>v01 - pres-print prototype</h2>

      <h3>Research</h3>
      <p>For this initial prototye the bulk of the design was built around technnical requirements and limitations, past research and multiple quan surveys. We created a prototype before the end of discovery to aid discussions within the team and to take to a co-creation session</p>
      <ul>
      <li>Gov survey <mark>sean has stats on this</mark></li>
      <li>CAPI survey - 1000+ users</li>
      <li>Past discovery research</li>
      <li>Assumptions</li>
      <li><mark>anything else</mark></li>
      </ul>

      {{ button({
        "text": "MVP - v01",
        "href": "/v01-index"
      }) }}

    </div>
  </div>
{% endblock %}
