<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Delegated Access
      </h1>
      <h2>V01 - Granting access to another person - CID-4529</h2>
      <h3>Scenarios</h3>

      <p>
        John has an NHS login account and has no nominated access for myHealth<br>
        Journey starts with John adding a delegator
      </p>
      {{ button({
        "text": "Start flow as John",
        "href": "john-adds-david-as-delegator"
      }) }}

      <hr>
<!--
      <p>John has an NHS login account and has 1 nominated access for myHealth - might not be relevant</p>
      <hr>
      -->
      <p>
        David has been invited to act on behalf of John as a delegate on myHealth<br>
        David has not agreed to consent<br>
        Journey starts with David receiving an email inviting him to be a delegate
      </p>
      {{ button({
        "text": "Start flow as David",
        "href": "john-nominates-david"
      }) }}
      <hr>
      <p>David has been granted nominated access to myHealth from John - david has already consented - matt</p>
    
    
    </div>  

  </div>
{% endblock %}
