<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Error!
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Error!
      </h1>
      <p>The details that the user entered do not match the details that the delegate has given us upon logging in.</p>
      <mark>Ian is working on copy for this page.</mark>
      <a href="login-as-combined" role="button" draggable="false" class="nhsuk-button">
        Continue to {{ data.service or 'myHealth' }}
      </a>


    </div>  

  </div>
{% endblock %}
