<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login - Add a delegate
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/v1/add-delegate/delegate-relationship" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

            <h1 class="nhsuk-fieldset__heading">
              What kind of extended family is {{ data.firstName or 'Bob' }} to you?
            </h1>
          </legend>
          
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Grandmother" name="relationship" type="radio" value="Grandmother">
                <label class="nhsuk-label nhsuk-radios__label" for="Grandmother">
                  Grandmother
                </label>
            </div>
           
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Grandfather" name="relationship" type="radio" value="Grandfather">
                <label class="nhsuk-label nhsuk-radios__label" for="Grandfather">
                  Grandfather
                </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Aunt" name="relationship" type="radio" value="Aunt">
                <label class="nhsuk-label nhsuk-radios__label" for="Aunt">
                  Aunt
                </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Uncle" name="relationship" type="radio" value="Uncle">
                <label class="nhsuk-label nhsuk-radios__label" for="Uncle">
                  Uncle
                </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Cousin" name="relationship" type="radio" value="Cousin">
                <label class="nhsuk-label nhsuk-radios__label" for="Cousin">
                  Cousin
                </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Niece" name="relationship" type="radio" value="Niece">
                <label class="nhsuk-label nhsuk-radios__label" for="Niece">
                  Niece
                </label>
            </div>


            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Nephew" name="relationship" type="radio" value="Nephew">
                <label class="nhsuk-label nhsuk-radios__label" for="Nephew">
                  Nephew
                </label>
            </div>


            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Granddaughter" name="relationship" type="radio" value="Granddaughter">
                <label class="nhsuk-label nhsuk-radios__label" for="Granddaughter">
                  Granddaughter
                </label>
            </div>


            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="grandson" name="relationship" type="radio" value="Grandson">
                <label class="nhsuk-label nhsuk-radios__label" for="grandson">
                  Grandson
                </label>
            </div>



            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="extendedfamilyother" name="relationship" type="radio" value="Extended family - other">
                <label class="nhsuk-label nhsuk-radios__label" for="extendedfamilyother">
                  Other
                </label>
            </div>

<!--
            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="other" name="relationship" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="other">
                    other:
                     <input class="nhsuk-input" id="partner-other" name="relationship" type="text" >
                  </label>
            </div>
-->
          </div>       
        </fieldset>
      </div>
      <button class="nhsuk-button">Continue</button>
      </form>
    </div>  
  </div>
{% endblock %}
